.directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (min-width:120px) and (max-width:500px) {
    .directory-container{
      display: flex;
      flex-direction: column;
    }
  }